h2{
    margin: 0px;
    padding-top: 10px;
    color: white;
    
}
h4{
    padding-top: 5px;
}
h5{
    padding-left: 50px;
    margin: 8px;
    text-align: left;
}
.tag{
    text-align: right;
    width: 30%;
    float: left;
    margin: 8px;
    text-align: center;
    

    
}

.block{
    width: 80vw;
    height: 100vh;
    display: flex;
}
.P-L{
    width: 70%;
    float: left;
    height: 100px;
}
.P-R{
    width: 30%;
    float: right;
    height: 100px;


}

.container_L, .Container_R{
    width: 20%;
    margin: 10px;
    border-radius: 15px;
    background-color: rgb(233, 233, 233);
    display: inline-block;
    
}

    
.switch {
    position: relative; 
    display: inline-block; 
    width: 90px; 
    height: 54px
} 

.switch input {
    display: none
}

.slider {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: #ccc; 
    border-radius: 30px
}

.slider:before {
    position: absolute; 
    content: ""; 
    height: 39px; 
    width: 39px; 
    left: 8px; 
    bottom: 8px; 
    background-color: #fff; 
    -webkit-transition: .4s; 
    transition: .4s; 
    border-radius: 25px
}

input:checked+.slider {
    background-color: rgb(15, 156, 109)
}

input:checked+.slider:before {
    -webkit-transform: translateX(34px); 
    -ms-transform: translateX(34px); 
    transform: translateX(34px)
}